<h1>Articles</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <% @articles.each do |article| %>
            <tbody>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td>Some Action</td>
            </tbody>
        <%end%>
</table>
