<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <%# handling flash messages: %>
  <% flash.each do |name, message| %>
      <%= message %>
  <% end %>

    <%= yield %>
  </body>
</html>
