<!DOCTYPE html>
<html>
  <head>
    <title>Daniels Blog App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
  <%# handling flash messages: %>
  <% flash.each do |name, message| %>
      <%= message %>
  <% end %>
  <%# in our case success messages %>
    <%= yield %>
  </body>
</html>
